<h1>Aulas da turma: <%= @classroom.name %></h1>
<h4>Clique nas aulas para editar</h4>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <svg class="glyph stroked notepad "><use xlink:href="#stroked-notepad"/></svg> Aulas
          </div>
          <div class="col-md-4">
            <%= link_to 'Adicionar aula', new_admin_classroom_lesson_path, class: "btn btn-success pull-right" %>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <table data-toggle="table" id="table-import">
          <thead>
            <th>Horário</th>
            <th>Segunda</th>
            <th>Terça</th>
            <th>Quarta</th>
            <th>Quinta</th>
            <th>Sexta</th>
          </thead>
          <tbody>

            <% @campus_schedules.each do |cs| %>
            <tr>
              <td><%= cs.start.strftime("%H:%M")%> ~ <%=cs.end.strftime("%H:%M") %></td>
              <td>
                <%=
                mon = @monday.find_by campus_schedule: cs
                unless mon.nil?
                  mon.laboratory.nil? ? mon.schoolroom.name : mon.laboratory.name
                else
                  "-"
                end
                %>
              </td>
              <td>
                <%=
                tue = @tuesday.find_by campus_schedule: cs
                unless tue.nil?
                  tue.laboratory.nil? ? tue.schoolroom.name : tue.laboratory.name
                else
                  "-"
                end
                %>            
              </td>
              <td>
                <%=
                  wed = @wednesday.find_by campus_schedule: cs
                  unless wed.nil?
                    wed.laboratory.nil? ? wed.schoolroom.name : wed.laboratory.name
                  else
                    "-"
                  end
                %>
              </td>
              <td>
                <%=
                thu = @thursday.find_by campus_schedule: cs
                unless thu.nil?
                  thu.laboratory.nil? ? thu.schoolroom.name : thu.laboratory.name
                else
                  "-"
                end
                %>
              </td>
              <td>
                <%=
                fri = @friday.find_by campus_schedule: cs
                unless fri.nil?
                  fri.laboratory.nil? ? fri.schoolroom.name : fri.laboratory.name
                else
                  "-"
                end
                %>
              </td>
            </tr>
            <% end %>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
