

<h1>Aulas da turma: <%= @classroom.name %></h1>
<h4>Clique nas aulas para editar</h4>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <svg class="glyph stroked notepad "><use xlink:href="#stroked-notepad"/></svg> Aulas
          </div>
          <div class="col-md-4">
            <%= link_to 'Adicionar aula', new_admin_classroom_lesson_path, class: "btn btn-success pull-right" %>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <table data-toggle="table" id="table-import">
          <thead>
              <th>Horário</th>
              <th>Segunda</th>
              <th>Terça</th>
              <th>Quarta</th>
              <th>Quinta</th>
              <th>Sexta</th>


          </thead>

          <tbody>

          <% @lessons.each do |lesson| %>
            <tr>
              <td><%= lesson.campus_schedule.start.strftime("%H:%M") %> - <%= lesson.campus_schedule.end.strftime("%H:%M") %></td>
                <td>
              <% if (lesson.day == 'Segunda')
                if (lesson.laboratory_id == nil) %>
                <%= link_to(lesson.schoolroom.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% if (lesson.schoolroom_id == nil) %>
                <%= link_to(lesson.laboratory.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% if (lesson.schoolroom_id != nil) && (lesson.laboratory_id != nil) %>
                <%= link_to(lesson.schoolroom.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %> -
                <%= link_to(lesson.laboratory.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% end %>
            </td>
                <td>
              <% if (lesson.day == 'Terça')
                if (lesson.laboratory_id == nil) %>
                <%= link_to(lesson.schoolroom.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% if (lesson.schoolroom_id == nil) %>
                <%= link_to(lesson.laboratory.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% if (lesson.schoolroom_id != nil) && (lesson.laboratory_id != nil) %>
                <%= link_to(lesson.schoolroom.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %> -
                <%= link_to(lesson.laboratory.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% end %>
            </td>
                <td>
              <% if (lesson.day == 'Quarta')
                if (lesson.laboratory_id == nil) %>
                <%= link_to(lesson.schoolroom.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% if (lesson.schoolroom_id == nil) %>
                <%= link_to(lesson.laboratory.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% if (lesson.schoolroom_id != nil) && (lesson.laboratory_id != nil) %>
                <%= link_to(lesson.schoolroom.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %> -
                <%= link_to(lesson.laboratory.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% end %>
            </td>
                <td>
              <% if (lesson.day == 'Quinta')
                if (lesson.laboratory_id == nil) %>
                <%= link_to(lesson.schoolroom.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% if (lesson.schoolroom_id == nil) %>
                <%= link_to(lesson.laboratory.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% if (lesson.schoolroom_id != nil) && (lesson.laboratory_id != nil) %>
                <%= link_to(lesson.schoolroom.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %> -
                <%= link_to(lesson.laboratory.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% end %>
            </td>
                <td>
              <% if (lesson.day == 'Sexta')
                if (lesson.laboratory_id == nil) %>
                <%= link_to(lesson.schoolroom.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% if (lesson.schoolroom_id == nil) %>
                <%= link_to(lesson.laboratory.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% if (lesson.schoolroom_id != nil) && (lesson.laboratory_id != nil) %>
                <%= link_to(lesson.schoolroom.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %> -
                <%= link_to(lesson.laboratory.name, edit_admin_classroom_lesson_path(@classroom, lesson)) %>
              <% end %>
              <% end %>
            </td>

            </tr>
            <% end %>



          </tbody>

        </table>




      </div>
    </div>
  </div>
</div>
